.title
	color: $c_txt
	text-transform: uppercase
	font-size: 3em
	font-weight: 200

#peopleModule
	h1
		font-weight: 300

	input[type="text"]
		height: 32px
		font-size: 14px
		line-height: 32px
		font-weight: 300
		box-sizing: border-box
		border: 1px solid $c_txt
		border-radius: 5px
		padding: 5px
		margin: 0

		&:focus
			outline: none

	button
		height: 32px
		font-size: 14px
		line-height: 32px
		font-weight: 300
		box-sizing: border-box
		// border: 1px solid $c_acc_01
		border: none
		border-radius: 5px
		padding: 0 10px
		display: inline-block
		background-color: $c_acc_01
		color: $c_bg
		+transition(all ease .3s)
		outline: none

		&:hover
			background-color: darken($c_acc_01, 10%)

ul#people
	margin: 0
	padding-top: 20px

	li
		list-style: none
		float: left
		padding: 10px
		background-color: $c_acc_02
		color: #fff
		border-radius: 5px
		margin: 10px 10px 0 0

		i.del
			display: block
			float: right
			margin-left: 24px
			height: 24px
			width: 24px
			border-radius: 50%
			background-color: #fff
			color: #333
			cursor: pointer
			text-align: center
			font-size: 14px
			line-height: 24px


#statsModule
	background-color: #333
	min-height: 30px
	color: #fff
	padding: 5px 20px
	width: 200px